<!DOCTYPE html>
<html>
{% load staticfiles %}
    <head>
	<script src="{% static %}/Chart.min.js"></script>
	<script>
	    var ctx = getElementById("DJI_hist").getContext("2d");
	    var myNewChart = new Chart(ctx).Line(data);
	    var data = {
	    labels: ["January", "February", "March", "April", "May", "June", "July"],
	    datasets: [
		{
		    label: "My First dataset",
		    fillColor: "rgba(220,220,220,0.2)",
		    strokeColor: "rgba(220,220,220,1)",
		    pointColor: "rgba(220,220,220,1)",
		    pointStrokeColor: "#fff",
		    pointHighlightFill: "#fff",
		    pointHighlightStroke: "rgba(220,220,220,1)",
		    data: [65, 59, 80, 81, 56, 55, 40]
		},
		{
		    label: "My Second dataset",
		    fillColor: "rgba(151,187,205,0.2)",
		    strokeColor: "rgba(151,187,205,1)",
		    pointColor: "rgba(151,187,205,1)",
		    pointStrokeColor: "#fff",
		    pointHighlightFill: "#fff",
		    pointHighlightStroke: "rgba(151,187,205,1)",
		    data: [28, 48, 40, 19, 86, 27, 90]
		}
	    ]
	    };
    </head>

    <body>
        <div id="blurp">
            <p>If you are looking at this page you are probably worried about the stock market, don't be. It's dumb. <a href='fivethirtyeight.com/datalab/when-to-pay-attention-to-the-stock-market-and-when-to-ignore-it/'>Trust this guy</a>. He is much smarter than me.</p>
            <p>As it turns out humans are very good at constructing narritives to explain purely statistical (ie. non causal) events. That's why it feels so much better to hear that the market is going down because traders are 'profit taking' than the market is <a href='simple.wikipedia.org/wiki/regression_toward_the_mean'>regressing to the mean</a>.<p>
            <p>Enjoy some numbers and graphs!</p>
        </div>
        <div id="overview">
            {% for t in market %}
            <div class="index">
                <h3 class="ticker">{{ t.index }}</h3>
                <span class="move">${{ t.move_price }}</span><span class="percent">{{ t.move_percent }}%</span>
                <span class="zscore">{{ t.move_zscore }}&sigma;</span>
                <canvas class="{{ t.index }}_hist" width="200px" height="200px"></canvas>
            </div>
            {% endfor %}
        </div>

=====================================
        {% for t in market %} {# these should already be sorted #}
            <div class="index">
            {% for key, value in t.items %}
                {% if value.items > 1 %}
                <div class="averages">
                    <h3>{{ key }}</h3>
                    {% for k, v in value.items %}
                        <p>{{ k }} : {{ v }}</p>
                    {% endfor %}
                </div>
                {% else %}
                    <p>{{ key }} : {{ value }}</p>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    </body>
</html>
